.hud {
  display: grid;
  gap: 10px;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  justify-content: center;
  margin-bottom: 40px;
}

.textoAtaqueBG {
  display: grid;
  grid-template-columns: 1fr auto;
}

.textoAtaque {
  grid-column: 1;
  font-size: 1.25rem;
  background-color: bisque;
  padding: 40px;
}

.dado {
  grid-column: 2;
}