@import './global.css';

.bg {
  margin: 0 auto;
  display: block;
  max-width: 960px;
  margin-top: 50px;
  background-color: #fff8db;
  padding: 20px;
}

.grid{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.grid-item{
  background-color: #FFF7ED;
  border: 2px solid #65625e;
  padding: 20px;
  border-radius: 5px;
}

@media(max-width: 600px){
  .grid{
    grid-template-columns: 1fr;
  }
}

.flex{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.texto {
  color: #31302b;
  font-size: 1rem;
  text-align: center;
  margin: 20px 0;
  display: grid;
  gap: 20px;
}

.texto p {
  font-size: 1.25rem;
}

.item {
  background-color: #FFF7ED;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  gap: 10px;
  align-items: end;
  justify-content: center;
  padding: 10px 0;
}

.imagem{
  margin: 20px 0;
  display: grid;
  justify-content: center;
}

.caixaBotao{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
  gap: 40px 0;
}

.botao{
  background-color: #656257;
  color: #fff8db;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.botao:hover{
  background-color: #31302b;
  color: #fdffdb;
}